In [2]:
import pandas as pd
from tableone import TableOne
import warnings
warnings.filterwarnings("ignore")

In [3]:
df_main_active_adult = pd.read_csv('alert_analysis/data/df_main_active_adult.csv')
print(df_main_active_adult.shape)
df_main_active_adult.head()

(2543301, 66)

,Order_ID_new_update,Hospital_cat,HospitalName_EN_cat,UnitName_cat,Medical_Record_cat,SeverityLevelToStopOrder_cat,OrderOrigin,Time_Prescribing_Order,Details,ATC_NEW,...,DRC_Max_Daily_Dose_1,DRC - Message 1,DRC_Single_Dose_1,NeoDRC - Duration 1,NeoDRC - Frequency 1,NeoDRC - Max Daily Dose 1,NeoDRC - Message 1,NeoDRC - Single Dose 1,Alert_type,Alert_status
0,19_27428962,19,YOSEFTAL,Cardiology,772042,Active Mode,Medication Order,2022-08-11T19:16:27Z,IntraVenous PERFALGAN 1000 mg Once,N02BE01,...,0,0,0,0,0,0,0,0,Non_alert,Non_alert
1,19_27428964,19,YOSEFTAL,Cardiology,772042,Active Mode,Medication Order,2022-08-11T19:17:54Z,IntraVenous SODIUM CHLORIDE 0.9% 1000 ml T...,B05XA03,...,0,0,0,0,0,0,0,0,Non_alert,Non_alert
2,19_27429064,19,YOSEFTAL,Cardiology,772109,Active Mode,Medication Order,2022-08-12T00:51:17Z,IntraVenous PERFALGAN 1000 mg Once,N02BE01,...,0,0,0,0,0,0,0,0,Non_alert,Non_alert
3,19_27429581,19,YOSEFTAL,Cardiology,772301,Active Mode,Medication Order,2022-08-13T11:19:56Z,IntraVenous SODIUM CHLORIDE 0.9% 1500 ml Once,B05XA03,...,0,0,0,0,0,0,0,0,Non_alert,Non_alert
4,19_27429587,19,YOSEFTAL,Cardiology,772301,Active Mode,Medication Order,2022-08-13T11:53:37Z,IntraVenous POTASSIUM ACETATE 29/3 40 meq ...,B05XA17,...,0,0,0,0,0,0,0,0,Non_alert,Non_alert

In [4]:
df_main_active_adult.columns = map(str.lower, df_main_active_adult.columns)

df_main_active_adult = df_main_active_adult[
    (df_main_active_adult['severityleveltostoporder_cat'] != "Silence Mode") &
    (df_main_active_adult['adult_child_cat'] == "adult") &
    (~df_main_active_adult['hospital_cat'].isin(["243", "113", "29"])) &
    (~df_main_active_adult['unitname_cat'].isin(["Day_care", "ICU", "Pediatric", "Rehabilitation"]))
]

df_main_active_adult.shape

(2543301, 66)

In [5]:
src_tbl1_active_by_patient = df_main_active_adult[[
    "id1",
    "age_num",
    "age_cat",
    "gender_text_en_cat",
    "hospitalname_en_cat",  # count
    "unitname_cat",  # count
    "survivalrate10years_age_adj",  # average
    "medical_record_cat",  # count
    "nummedamount",
    "nummedamount_calc",
    "chronic_num_calc",
    "hosp_days"
]]

## Part 1: Create a TableOne Patients Characteristics (by Gender)

In [6]:
# Grouping and summarizing the data
src_tbl1_active_by_patient_gb = (
    src_tbl1_active_by_patient
    .groupby(["id1", "age_num", "age_cat", "gender_text_en_cat"])
    .agg(
        hospitalname_en_cat_cnt=pd.NamedAgg(column="hospitalname_en_cat", aggfunc=pd.Series.nunique),  # Count distinct
        survivalrate10years_age_adj_mean=pd.NamedAgg(column="survivalrate10years_age_adj", aggfunc="mean"),  # Mean
        medical_record_cat_cnt=pd.NamedAgg(column="medical_record_cat", aggfunc=pd.Series.nunique),  # Count distinct
        nummedamount_calc_mean=pd.NamedAgg(column="nummedamount_calc", aggfunc="mean"),  # Mean
        hosp_days_mean=pd.NamedAgg(column="hosp_days", aggfunc="mean"),  # Mean
        chronic_num_calc_mean=pd.NamedAgg(column="chronic_num_calc", aggfunc="mean")  # Mean
    )
    .reset_index()
)

src_tbl1_active_by_patient_gb.shape

(155899, 10)

In [8]:
src_tbl1_active_by_patient['id1'].nunique()
src_tbl1_active_by_patient_gb.head(5)

,id1,age_num,age_cat,gender_text_en_cat,hospitalname_en_cat_cnt,survivalrate10years_age_adj_mean,medical_record_cat_cnt,nummedamount_calc_mean,hosp_days_mean,chronic_num_calc_mean
0,2,80,76-85,FEMALE,1,21.364318,1,3.000000,1.000000,0.000000
1,3,74,65-75,MALE,1,77.481558,2,7.142857,2.714286,0.000000
2,4,76,76-85,FEMALE,1,2.245438,5,7.413793,1.758621,2.965517
3,5,77,76-85,FEMALE,1,77.481558,3,8.375000,1.687500,0.062500
4,7,75,65-75,MALE,1,77.481558,2,4.200000,2.400000,0.000000

## Patients Characteristics by Gender

In [9]:
# Define categorical and continuous variables
categorical_vars = ["gender_text_en_cat", "age_cat"]
continuous_vars = [
    "age_num",
    "hospitalname_en_cat_cnt",
    "survivalrate10years_age_adj_mean",
    "medical_record_cat_cnt",
    "nummedamount_calc_mean",
    "hosp_days_mean",
    "chronic_num_calc_mean"
]

# Generate summary table
table = TableOne(
    src_tbl1_active_by_patient_gb,
    categorical=categorical_vars,
    groupby="gender_text_en_cat",
    continuous=continuous_vars,
    pval=True,  # Add p-values
    missing=True  # Show missing values
)

# Print the table
print(table.tabulate(tablefmt="pipe"))

|                                             |        | Missing   | Overall      | FEMALE        | MALE          | P-Value   |
|:--------------------------------------------|:-------|:----------|:-------------|:--------------|:--------------|:----------|
| n                                           |        |           | 155899       | 84563         | 71336         |           |
| age_num, mean (SD)                          |        | 0         | 56.9 (21.7)  | 54.6 (22.8)   | 59.6 (20.0)   | <0.001    |
| age_cat, n (%)                              | 19-30  |           | 25421 (16.3) | 17243 (20.4)  | 8178 (11.5)   | <0.001    |
|                                             | 31-44  |           | 26872 (17.2) | 17324 (20.5)  | 9548 (13.4)   |           |
|                                             | 45-55  |           | 17971 (11.5) | 8285 (9.8)    | 9686 (13.6)   |           |
|                                             | 56-64  |           | 17938 (11.5) | 7805 (9.2)    | 10133 (14.2)  |           |
|                                             | 65-75  |           | 30640 (19.7) | 13948 (16.5)  | 16692 (23.4)  |           |
|                                             | 76-85  |           | 23268 (14.9) | 11917 (14.1)  | 11351 (15.9)  |           |
|                                             | > 85   |           | 13789 (8.8)  | 8041 (9.5)    | 5748 (8.1)    |           |
| gender_text_en_cat, n (%)                   | FEMALE |           | 84563 (54.2) | 84563 (100.0) |               | <0.001    |
|                                             | MALE   |           | 71336 (45.8) |               | 71336 (100.0) |           |
| hospitalname_en_cat_cnt, mean (SD)          |        | 0         | 1.0 (0.1)    | 1.0 (0.1)     | 1.0 (0.1)     | <0.001    |
| survivalrate10years_age_adj_mean, mean (SD) |        | 0         | 71.4 (34.8)  | 74.2 (33.7)   | 68.1 (35.8)   | <0.001    |
| medical_record_cat_cnt, mean (SD)           |        | 0         | 1.8 (1.5)    | 1.7 (1.4)     | 1.8 (1.7)     | <0.001    |
| nummedamount_calc_mean, mean (SD)           |        | 0         | 10.2 (11.5)  | 9.4 (10.8)    | 11.2 (12.2)   | <0.001    |
| hosp_days_mean, mean (SD)                   |        | 0         | 2.8 (4.0)    | 2.7 (3.7)     | 3.0 (4.3)     | <0.001    |
| chronic_num_calc_mean, mean (SD)            |        | 0         | 1.4 (2.7)    | 1.2 (2.4)     | 1.7 (2.9)     | <0.001    |

In [26]:
src_tbl1_active_by_patient_gb['gender_text_en_cat'].value_counts()

gender_text_en_cat
FEMALE    84563
MALE      71336
Name: count, dtype: int64

In [ ]:
# test more ....

In [ ]:
# an additional test

In [ ]:
# an additional test